$family-primary: 'proxima-nova';
@import '~bulma/bulma.sass';

.container {
  @include desktop {
    max-width: 768px;
  }

  @include widescreen {
    max-width: 960px;
  }
}

.nav {
  min-height: 70px;
}

.section {
  background-color: transparent;
}

.text-box {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 1%;
  white-space: pre-wrap;
  padding: 30px;
  font-size: 22px;
}
