$family-primary: 'proxima-nova', sans-serif;
$super-color: #ffca29;

@import '~bulma/bulma.sass';

.container {
  @include desktop {
    max-width: 768px;
  }

  @include widescreen {
    max-width: 960px;
  }
}

.nav {
  min-height: 70px;
}

.nav-item img {
  max-height: 45px;
}

.section {
  background-color: transparent;
}

.white-box {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 1%;
  padding: 15px;
  white-space: pre-wrap;
  height: 100%;
}

.text-box {
  @extend .white-box;
  padding: 30px;
  font-size: 22px;
}

.text-content {
  font-size: 16px;
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  > h4.title {
    margin-bottom: 0;
  }

  > p.subtitle {
    margin-top: 0;
  }
}

.small-section {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.avatar {
  margin-right: 15px;
  > img {
    border-radius: 50%;
  }
}

.title-header {
  display: flex;
  justify-content: space-between;
}

.is-super-color {
  background-color: $super-color;
}

.button {
  border-color: transparent;
}

i.fa {
  margin: 0 10px;
}

.share-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-top: 20px;
}
