$family-primary: 'proxima-nova', sans-serif;
$super-color: #ffca29;

@import '~bulma/bulma.sass';

.container {
  @include desktop {
    max-width: 768px;
  }

  @include widescreen {
    max-width: 960px;
  }
}

.nav {
  min-height: 70px;
}

.nav-item img {
  max-height: 45px;
}

.section {
  background-color: transparent;
}

.white-box {
  background-color: white;
  border: 1px solid transparent;
  border-radius: 1%;
  white-space: pre-wrap;
}

.text-box {
  @extend .white-box;
  padding: 30px;
  font-size: 22px;
}

.text-content {
  font-size: 16px;
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  > h4.title {
    margin-bottom: 0;
  }

  > p.subtitle {
    margin-top: 0;
  }
}

.small-section {
  padding: 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.update {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > .media {
    padding: 15px;
  }
}

.avatar {
  margin-right: 15px;
  > img {
    border-radius: 50%;
  }
}

.title-header {
  display: flex;
  justify-content: space-between;
}

.comment {
  margin-bottom: 10px;
}

.comment-text {
  font-size: 17px;
}

.comment-author {
  margin-right: 5px;
}

.comments {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-top: 1px solid rgba(221, 221, 221, 0.26);
}

.comment-input {
  @extend .input;
  border-radius: 0;
  border-color: #dddfe2;
  box-shadow: none;
}

.comment-input:focus {
  border-color: #1fc8db;
}

.is-super-color {
  background-color: $super-color;
}

.button {
  border-color: transparent;
}

i.fa {
  margin: 0 10px;
}

.share-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-top: 20px;
}

.person-list {
  padding: 15px;
}

.person-item {
  padding: 20px;
  border-bottom: 1px solid #ededed;

}

.person-item img {
  max-width: 70px;
  border-radius: 50%;
  margin-right: 15px;
}

.person-item a {
  display: flex;
  align-items: center;
  color: $grey-darker;
  transition: .5s color;
  font-size: 24px;

  &:hover {
    color: $black;
  }
}
